<?xml version="1.0"?>
<launch>
 <node pkg="lab2" name="Publisher" exec="publisher" output="screen" >
  <param name="count" value="200" />
 </node>
</launch>
<!-- En el siguiente lanzador se declara una variable, la cual es usada por el nodo. Así como se
declara una variable numérica, también se puede declarar otras de otro tipo.
el contador count iniciara a contar a partir de 200
-->