<?xml version="1.0"?>
<launch>
    <!-- Lanzador de visualización del robot sin sliders 
    <include file="$(find-pkg-share lab2)/launch/display_r6bot_without_sliders.launch" /> -->

    <!-- Nodo que envía las 3 primeras posiciones articulares 
    Para correr este launch primero se ejecuta el "display_r6bot_without_sliders.launch"

    Lo que hara es que modifique los valores al lanzar este launch
    -->
    <node pkg="lab2" exec="nodo_joint_tras" name="nodo_joint_tras" output="screen">
        <param name="q1" value="10.0" />
        <param name="q2" value="30.0" />
        <param name="q3" value="50.0" />
    </node>
</launch>